.button1 {
    color: lightcoral;
    background-color: lightcyan;
    border-color: mediumturquoise;
    height: 500px;
    width: 500px;
}

button {
    color: blue;
    background-color: lightcyan;
    border-color: mediumturquoise;
    height: 500px;
    width: 500px;
}

h1 {
    font-size: 100px;
    color: tomato;
}